{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}


    <div class="container-fluid mt--7 bg-secondary">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">  <!-- Global interactive Plotly Mabpox -->
          <div class="card shadow fade-in-bottom">
            <div class="card-body plotly worldmap">
              <div class="chart">
                {% autoescape off %}
                {{ world_map }}
                {% endautoescape %}
              </div>
            </div>
            <div style="position: absolute; padding:1.25rem 1.5rem;">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Global | Cumulative</h6>
                <h2 class="text-dark mb-0">Mapbox</h2>
            </div>
          </div>
        </div>

      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.home-item a').addClass('active');
</script>
{% endblock javascripts %}
